/* resets do css */
html{
    box-sizing: border-box;
    font-family: 'Karla';
    font-size: 16px;
}
*,*:before,*:after{
    box-sizing: inherit;
}
h1,h2,p{
    margin: 0;
}
body{
    padding: 20px;
}
:root{
    --Cyan: #00FFFF;/* #30b8b8 */
    --Bright-Yellow: hsl(71, 73%, 54%);
    --Light-Gray: #d3d3d3;
    --Grayish-Blue: #6699cc;

}

.container{
    width: 600px;
    height: 450px;
/*     padding: 6%;*/    
    font-family: 'Karla';
    box-shadow: 2px 3px 7px 0px rgba(0,0,0,0.35);   
    border-radius: 5px;
    overflow: hidden;
}
/*top section customização*/
.top-section{
    width: 100%;
    height: 45%;
    padding: 25px;
}

.main-1{
    color: #2ab2af;
    font-weight: 700;
    margin-bottom: 15px;
}
.secundary{
    color: var(--Bright-Yellow);
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 10px;
}
.text-1{
    color: var(--Light-Gray);
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
}
/* bot custon */
.bot{
    display: flex;
    width: 100%;
    height: 55%;
}
.left-section{
    background-color: #2ab2af;
    width: 50%;
    height: 100%;
    padding: 25px;
}
.main-2{
    color: white;
    font-weight: 400;
    margin-bottom: 20px;
}
.price{
    color: white;
    font-size: 25px;
    font-weight: 700;
}

.text-2{
    color: white;
    font-size: 0.9rem;
    font-weight: 400;
}
.text-2 sup{
    position: relative;
    font-size: 0.8rem;
    opacity: 0.7;

}

.buttom{
    width: 100%;
    padding: 15px;
    color: white  ;
    background-color: var(--Bright-Yellow);
    border-radius: 5px;
    border: none;
    margin-top: 25px;

}
button:hover{
    cursor: pointer;
    background-color: #A9C42D;
    transform: scale(1.02);
}
.right-section{
    width: 50%;
    height: 100%;
    background-color: #2EBFBD;
    padding: 25px;
}
.main-3{
    color: white;
    font-weight: 700;
}
.list{
/*     -moz-text-decoration-style: none;*/ 
    color: var(--Light-Gray);
    font-weight: 400;
    list-style: none;
    padding: 0;
    font-size: 0.9rem;
    opacity: 0.9;
}

@media (max-width: 600px) {
    .container,.bot{
   /*      width: 100%;
        height: auto; */
        display: flex;
        flex-direction:column ;
        justify-content: center;
    }
    .container{
        width: 60%;
        height: auto;
    }
    .bot{
        width: 200%;
        height: 100%;
    }
 
}